<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iso.piotrowski.marek.nyndro">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="iso.piotrowski.marek.nyndro.Application.NyndroApp"
        android:allowBackup="true"
        android:launchMode="singleTop"
        android:backupAgent=".tools.NyndroBackupAgent"
        android:icon="@mipmap/icon_nyndro1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIQ4iQ2TdUwXEp79Bx_taxfpOWaAnxk5z_MvO1EQ" />

        <meta-data
            android:name="AA_DB_NAME"
            android:value="practice" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="2" />
  
        <activity
            android:name=".PracticeMain.MainPracticeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".RemainderService.RemainderService"
            android:process=":iso.piotrowski.marek.nyndro.RemainderProcess"
            android:enabled="false"
            android:exported="false" />

        <receiver android:name=".RemainderService.RemainderReceiver"
            android:enabled="false"
            android:process=":iso.piotrowski.marek.nyndro.RemainderReceiverProcess">
            <intent-filter>
                <action android:name="iso.piotrowski.marek.nyndro.start" />
                <action android:name="iso.piotrowski.marek.nyndro.restart" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>